@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kolker+Brush&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Nav bar*/
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.75);
    position: sticky;
    top: 0;
}

.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}
.navbar ul li{
    font-family:  'Montserrat', sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
}

.navbar ul li a{
    text-decoration: none;
    color: whitesmoke;
    padding: 9px 20px;
    transition: all .5s ease;
}
.navbar ul li a:hover{
    border-radius: 10px;
    background-color:rgba(1,1,1,0.75) whitesmoke;
    color: whitesmoke;
    box-shadow: 0 0 10px white ;
}

/* Home*/
#home{
    display: flex;
    flex-direction: column;
}
#home::before{
    content: "";
    position: absolute ;
    top: 0;
    right: 0;
    background: url('back.jpg') no-repeat center center/cover;
    height: 900px;
    width: 100%;
    z-index: -1;
    opacity: .8;
}

.main{
    display: flex;
    flex-direction: column;
   /* border: 1px solid white;*/
    align-items: center;
    position: absolute;
    top: 30%;
    right: 10%;
}
.headings{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem ;
    text-align: center;
    margin: 40px 0px;
    font-weight: 1000;
}

.name{
   
    font-family:'Kolker Brush', cursive;
    font-size: 150px;
}

.btn{
    font-family: 'Montserrat', sans-serif;
    color: black;
    padding: 10px 35px;
    border-radius: 15px;
    background-color: transparent;
    border: 1px solid white;
    outline: none;
    transition: .6s ease;
}
.btn:hover{
    cursor: pointer;
    border-radius: 15px;
    background-color: rgba(1,1,1,0.75);
    color: black;
    box-shadow: 0 0 5px white 0 0 10px white,0 0 15px white;
    font-weight: bold;
}
#about{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 150%;
    right: 10%;
}

#about{
    display: flex;
    flex-direction: column;
}

#pic{
    display: flex;
}
#pic img{
    width: 575px;
    height: 400px;
    
}